In [12]:
li=[1,2,3,4,2,3,3,5,6,4,6]
d= {1:2,2:2,3:2,4:2,5:1,6:2}
s=str(li)
print(s)
print(s[4])
d1={}
for i in li:
    d1[i]=li.count(i)
d1

[1, 2, 3, 4, 2, 3, 3, 5, 6, 4, 6]
2

{1: 1, 2: 2, 3: 3, 4: 2, 5: 1, 6: 2}

In [6]:
s={}
type(s)

dict

In [7]:
s=set()
type(s)

set

In [8]:
s={1,'hello',12.5}
s

{1, 12.5, 'hello'}

#set is a collection of heterogenous data
#set is not an ordered data
#doesn't support slicing
#doesn't allow duplication
#it's mutable data

In [13]:
t=(1,2,3)

In [15]:
t=list(t)

In [16]:
t

[1, 2, 3]

In [17]:
t[0]=9
t

[9, 2, 3]

In [20]:
t=tuple(t)

In [21]:
t

(9, 2, 3)

In [22]:
s={1,2,3}
s=list(s)
s

[1, 2, 3]

In [23]:
s[0]=6
s

[6, 2, 3]

In [24]:
s=set(s)
s

{2, 3, 6}

In [25]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [34]:
s1={1,2,3}
s2={2,4,6}
s2.add(1)
s2

{1, 2, 4, 6}

In [35]:
s3=s2.copy()
s3

{1, 2, 4, 6}

In [36]:
s3.add(8)
s3

{1, 2, 4, 6, 8}

In [38]:
s2.difference(s1)

{4, 6}

In [39]:
s2.difference_update(s1)

In [40]:
s2

{4, 6}

In [42]:
s1={1,4,'brahmam','bhargav','pavan'}
s2={4,'brahmam','revanth','hari'}
s2.intersection(s1)

{4, 'brahmam'}

In [43]:
s2.intersection_update(s1)

In [44]:
s2

{4, 'brahmam'}

In [45]:
s2.isdisjoint(s1)

False

In [46]:
s2.issubset(s1)

True

In [47]:
s2.issuperset(s1)

False

In [48]:
s1.issuperset(s2)

True

In [49]:
s1.pop()

1

In [50]:
s1

{4, 'bhargav', 'brahmam', 'pavan'}

In [51]:
s1.remove(4)
s1

{'bhargav', 'brahmam', 'pavan'}

In [52]:
s1.discard('pavan')
s1

{'bhargav', 'brahmam'}

In [53]:
s1.discard(5)

In [54]:
s1

{'bhargav', 'brahmam'}

In [55]:
s1={1,2,3}
s2={2,3,4}
s1.difference(s2)

{1}

In [56]:
s2.difference(s1)

{4}

In [57]:
s1.symmetric_difference(s2)

{1, 4}

In [58]:
s1.symmetric_difference_update(s2)
s1

{1, 4}

In [59]:
s1.union(s2)

{1, 2, 3, 4}

In [66]:
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)
l

[2, 4, 6, 8, 10]

In [68]:
### comprehensions:
l1=[i for i in range(1,11)]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
l1=[i for i in range(1,11) if i%2==0]
l1

[2, 4, 6, 8, 10]

In [70]:
def is_prime(n):
    cnt=0
    for i in range(1,n):
        if n%i==0:
            cnt+=1
    if cnt==1:
        return True
    else:
        return False
is_prime(9)

False

In [73]:
prime_list = {i for i in range(1,100) if is_prime(i)}
prime_list

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}

In [72]:
len(prime_list)

25

In [74]:
d={i:i**3 for i in range(1,10)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [77]:
s='abbcccdddd'
d={i : s.count(i) for i in s}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [80]:
### lambda
def add(a,b):
    return a+b
add(2,4)

6

In [84]:
### lambda
### var = lambda arg:expression    ##syntax
i = lambda a,b:a+b
i(79,100)

179

In [87]:
s='apssdc'
for i in s:
    print(i)
print(s)
print(i)

a
p
s
s
d
c
apssdc
c